.card {
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    min-width: 600px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7em;
	padding: 1em 3em;
}

.full-width {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
}

.shift-right {
	text-align: right;
}

.shift-center {
	text-align: center;
}

#save-button {
	right: 0;
}

#save-button {
	background-color: #0026ca;
	color: #fff;
}