.card-container {
	width: calc(100vw - 220px);
	min-width: 650px;
	padding: 3em 0;
}

.card {
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    width: 600px;
	margin: auto;
	padding: 1em 3em;
}

.full-width {
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
}

.shift-right {
	text-align: right;
}

.shift-center {
	text-align: center;
}

#save-button {
	background-color: #0026ca;
	color: #fff;
	right: 0;
}

#save-button:disabled {
	background-color: #7e95f9;
}