md-toolbar {
    background-color: #0026ca;
    color: #fff;
}

.create-form {
	padding: 2em;
	margin-top: 1em;
	box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
    background-color: #fff;
    width: 90%;
}

.create-form md-input-container {
	width: 100%;
}

#save-button {
	float: right;
}