md-sidenav {

    width: 250px;
    padding: 8px;

    .menu-item {

        height: 50px;
        padding: 16px;
        margin: 8px 0px;

        border-radius: 3px;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        cursor: pointer;

        color: #3f51b5;
        text-transform: uppercase;
        font-weight: 400;

        transition: background-color linear 0.2s;

        &:hover {
            color: #fff;
            // background-color: rgba(0,0,0,0.4);
            background-color: #3f51b5;
            // opacity: 0.7;
        }

        &:focus {
            outline: none;
        }
    }

}
