.router-outlet {
    color: black;
    margin-top: 50px;
}

#create-fab {
    position: fixed;
	transform: scale(1);
    right: 2em;
    bottom: 2em;
	transition: transform ease-out 0.15s;
}

#create-fab.create-shown {
    transform: scale(0);
}
