<md-toolbar color="primary" id="event-toolbar">
    <span class="event-name">SAP TechEd 2017</span>
    <span class="spacer"></span>
    <md-button-toggle id="publish-button">Publish</md-button-toggle>
</md-toolbar>

<md-tab-group id="event-tab-group">
    <md-tab label="Maintain">
        Edit stuff
    </md-tab>
    <md-tab label="Organize">
        <div>Organizers</div>
        <div>Organizers</div>
        <div>Organizers</div>
        <div>Organizers</div>

        <div>Organizers</div><div>Organizers</div><div>Organizers</div><div>Organizers</div>
        <div>Organizers</div><div>Organizers</div><div>Organizers</div><div>Organizers</div>
        <div>Organizers</div><div>Organizers</div><div>Organizers</div><div>Organizers</div>
        <div>Organizers</div><div>Organizers</div><div>Organizers</div><div>Organizers</div>
        <div>Organizers</div><div>Organizers</div><div>Organizers</div><div>Organizers</div>
        <div>Organizers</div><div>Organizers</div><div>Organizers</div><div>Organizers</div>
        <div>Organizers</div><div>Organizers</div><div>Organizers</div><div>Organizers</div>
        <div>Organizers</div><div>Organizers</div><div>Organizers</div><div>Organizers</div>
        <div>Organizers</div><div>Organizers</div><div>Organizers</div><div>Organizers</div>
        <div>Organizers</div><div>Organizers</div><div>Organizers</div><div>Organizers</div>
        <div>Organizers</div><div>Organizers</div><div>Organizers</div><div>Organizers</div>

        <div>Organizers</div><div>Organizers</div><div>Organizers</div><div>Organizers</div>
    </md-tab>
</md-tab-group>
