nav.navbar {
    background-color: #0026ca;
    border: none;
    margin-bottom: 0;
}

nav.navbar-default .navbar-brand {
    color: #fff;
}

nav.navbar-default .navbar-nav>li>a {
    color: #fff;
}

nav.navbar {
    box-shadow: 0px 3px 10px #000;
}