<div class="background">

    <div class="homepage-content">

        <h1>Upcoming Events</h1>

        <div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>
<div>event!</div>

    </div>

</div>
